.container div {

}

/* Body Controls */
#body {
    background: url('../images/female_body.png') no-repeat;
    height: 650px;
}

#body div {
    border: 1px solid green;
    position: absolute;
    height: 650px;
    width: 310px;

}


/* Swatch Controls */
#swatches li {
    display: inline;
}